@model Product

<form method="post" action="/Admin/Products/Update" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="exampleInputEmail1">Category Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" id="name" placeholder="Enter Name">
        <span asp-validation-for="@Model.Name" class="text-bg-danger"></span>
    </div>


    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />

        <label for="exampleInputproduct">Product Description</label>
        <input type="text" name="Description" value="@Model.Description" class="form-control" id="Price"
        placeholder="Enter Product Description">
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>


    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />

        <label for="exampleInputproduct">Product Price</label>
        <input type="text" name="Price" value="@Model.Price" class="form-control" id="Price" placeholder="Enter Product Price">
        <span asp-validation-for="Price" class="text-danger"></span>

    </div>



    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />

        <label for="exampleInputproduct">Product Quantity</label>
        <input type="text" name="Quantity" value="@Model.Quantity" class="form-control" id="Quantity" placeholder="Enter Product Quantity">
        <span asp-validation-for="Quantity" class="text-danger"></span>

    </div>



    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />

        <label for="exampleInputproduct">Product Image</label>
        <img src="/Images/@Model.Image" width="100" />
        <input type="file" name="file" value="@Model.Image" class="form-control" id="Image" placeholder="Enter Product Name">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <select name="CategoryId">
        @foreach (var item in ViewBag.Categories)
        {
            if (item.Id == Model.CategoryId)
            {
                <option  selected value="@item.Id">@item.Name</option>

                
            }
            <option value="@item.Id">@item.Name</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Update</button>
</form>